/*#box{
	width: 300; height: 300; background-color: yellow;
}
#box1{
	width: 100px; height: 100px; background-color: red;
}
#box2{
	width: 50px; height: 50px; background-color: blue;
}*/

#box1{
	width: 100px; height: 100px; background-color: yellow;
}
#box2{
	width: 100px; height: 100px; background-color: red;
}
#box3{
	width: 100px; height: 100px; background-color: blue;
}
#box4{
	width: 100px; height: 100px; background-color: green;
}
